In [39]:
import pandas as pd
from collections import Counter
import numpy as np
import math

In [40]:
hr_data = pd.read_csv("Preprocessed_0803.csv")

C:\Users\superuser\AppData\Local\Temp\ipykernel_13832\2115967834.py:1: DtypeWarning: Columns (174) have mixed types. Specify dtype option on import or set low_memory=False.
  hr_data = pd.read_csv("Preprocessed_0803.csv")

In [41]:
months = hr_data.groupby("EMPLOYEE_ID").apply(lambda x :len(x))
months_over12_id = months[months>12]
months_over12_id

EMPLOYEE_ID
00010f41     42
00049756     23
000c1b6a     70
0010f45d     69
00131910     78
           ...
ffee9e02     17
fff0e936     81
fff5244f     36
fffb048a    132
fffdfd1d    143
Length: 13912, dtype: int64

In [42]:
months_over12_id_df = pd.DataFrame(months_over12_id, columns=["lifetime"])
months_over12_id_df

             lifetime
EMPLOYEE_ID
00010f41           42
00049756           23
000c1b6a           70
0010f45d           69
00131910           78
...               ...
ffee9e02           17
fff0e936           81
fff5244f           36
fffb048a          132
fffdfd1d          143

[13912 rows x 1 columns]

In [43]:
emp_list = months_over12_id.index.tolist()

In [44]:
exp_month = hr_data[hr_data["EMPLOYEE_ID"].isin(emp_list)].groupby("EMPLOYEE_ID").EXPERIENCE_MONTH.last()
exp_month

EMPLOYEE_ID
00010f41     22
00049756    125
000c1b6a     28
0010f45d     66
00131910     43
           ...
ffee9e02    140
fff0e936    101
fff5244f     12
fffb048a     54
fffdfd1d     12
Name: EXPERIENCE_MONTH, Length: 13912, dtype: int64

In [45]:
exp_month_df = pd.Series(exp_month)

In [46]:
exp_month_df = pd.DataFrame(exp_month_df)
exp_month_df

             EXPERIENCE_MONTH
EMPLOYEE_ID
00010f41                   22
00049756                  125
000c1b6a                   28
0010f45d                   66
00131910                   43
...                       ...
ffee9e02                  140
fff0e936                  101
fff5244f                   12
fffb048a                   54
fffdfd1d                   12

[13912 rows x 1 columns]

In [47]:
raw_data_month = pd.merge(months_over12_id_df, exp_month_df, on = "EMPLOYEE_ID")
raw_data_month

             lifetime  EXPERIENCE_MONTH
EMPLOYEE_ID
00010f41           42                22
00049756           23               125
000c1b6a           70                28
0010f45d           69                66
00131910           78                43
...               ...               ...
ffee9e02           17               140
fff0e936           81               101
fff5244f           36                12
fffb048a          132                54
fffdfd1d          143                12

[13912 rows x 2 columns]

In [48]:
raw_data_month.loc["00010f41"]

lifetime            42
EXPERIENCE_MONTH    22
Name: 00010f41, dtype: int64

In [49]:
data_over12 = hr_data.groupby("EMPLOYEE_ID").filter(lambda x: x.shape[0] >= 13)
data_over12

,index,EMPLOYEE_ID,ROW_NUM,DATAYEAR_LAST,DATAMONTH_LAST,IS_ALIVE_LAST,REASON_DESCR,LIFETIME_MONTH_LAST,EXPERIENCE_MONTH,GENDER,...,JOB_TITLE,JOB_FAMILY_NEW,JOB_FUNCTION_NEW,SUPERVISOR,SUPERVISOR_DEPT_ID,SUPERVISOR_LIFETIME_MONTH,ACCNUM_RESIGNATION_OF_SUPERVISOR,NUM_ISALIVE_OF_SUPERVISOR,ACCNUM_ISALIVE_OF_SUPERVISOR,TIME_RECORDED
0,565708,00010f41,378871,2010,1,1,NaN,5~6,22,2,...,151,5,14,eff21098,372559,<1,0.0,3,3.0,2010-01-01
1,565709,00010f41,378881,2010,2,1,NaN,5~6,22,2,...,151,5,14,eff21098,372559,<1,0.0,3,3.0,2010-02-01
2,565710,00010f41,378829,2010,3,1,NaN,6~7,22,2,...,151,5,14,eff21098,306929,<1,0.0,4,4.0,2010-03-01
3,565711,00010f41,378874,2010,4,1,NaN,6~7,22,2,...,151,5,14,eff21098,306929,<1,0.0,7,7.0,2010-04-01
4,565712,00010f41,378899,2010,5,1,NaN,6~7,22,2,...,151,5,14,eff21098,372559,<1,0.0,7,7.0,2010-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861648,572494,fffdfd1d,367723,2021,7,1,NaN,16~20,12,2,...,120,5,32,b6bf781d,701050,>20,15.0,5,9.0,2021-07-01
861649,572495,fffdfd1d,367811,2021,8,1,NaN,16~20,12,2,...,120,5,32,b6bf781d,701050,>20,15.0,5,9.0,2021-08-01
861650,572496,fffdfd1d,367884,2021,9,1,NaN,16~20,12,2,...,120,5,32,b6bf781d,701050,>20,15.0,5,9.0,2021-09-01
861651,572497,fffdfd1d,367807,2021,10,1,NaN,16~20,12,2,...,120,5,32,b6bf781d,701050,>20,15.0,3,9.0,2021-10-01
861652,572498,fffdfd1d,367812,2021,11,1,NaN,16~20,12,2,...,120,5,32,b6bf781d,701050,>20,15.0,3,9.0,2021-11-01

In [50]:
group_lastdata_alive = data_over12.groupby("EMPLOYEE_ID")["IS_ALIVE"].last()
group_lastdata_alive

EMPLOYEE_ID
00010f41    0
00049756    0
000c1b6a    0
0010f45d    1
00131910    1
           ..
ffee9e02    0
fff0e936    0
fff5244f    0
fffb048a    1
fffdfd1d    1
Name: IS_ALIVE, Length: 13912, dtype: int64

In [51]:
stay_list = group_lastdata_alive[group_lastdata_alive == 1].index
stay_list

Index(['0010f45d', '00131910', '0025a711', '002cbfe9', '0034d61f', '003d7a03',
       '0047e623', '004ef5c7', '00650ec3', '00663cf2',
       ...
       'ffa256b5', 'ffabafc7', 'ffacc294', 'ffb2079b', 'ffb9ecf8', 'ffc56506',
       'ffd906fc', 'ffedac33', 'fffb048a', 'fffdfd1d'],
      dtype='object', name='EMPLOYEE_ID', length=6645)

In [52]:
leave_list = group_lastdata_alive[group_lastdata_alive == 0].index
leave_list

Index(['00010f41', '00049756', '000c1b6a', '0019873d', '001e5e8a', '00222bc8',
       '002b0dc6', '004294a2', '0043e1ec', '00446bea',
       ...
       'ffb040e4', 'ffb660d0', 'ffc1885f', 'ffdf2e27', 'ffe1122a', 'ffe306e4',
       'ffe4002f', 'ffee9e02', 'fff0e936', 'fff5244f'],
      dtype='object', name='EMPLOYEE_ID', length=7267)

In [53]:
print("離職人數%i" % len(leave_list))
print("在職人數%i" % len(stay_list))

離職人數7267
在職人數6645

In [54]:
leave_df = data_over12[data_over12["EMPLOYEE_ID"].isin(leave_list)]
leave_df

,index,EMPLOYEE_ID,ROW_NUM,DATAYEAR_LAST,DATAMONTH_LAST,IS_ALIVE_LAST,REASON_DESCR,LIFETIME_MONTH_LAST,EXPERIENCE_MONTH,GENDER,...,JOB_TITLE,JOB_FAMILY_NEW,JOB_FUNCTION_NEW,SUPERVISOR,SUPERVISOR_DEPT_ID,SUPERVISOR_LIFETIME_MONTH,ACCNUM_RESIGNATION_OF_SUPERVISOR,NUM_ISALIVE_OF_SUPERVISOR,ACCNUM_ISALIVE_OF_SUPERVISOR,TIME_RECORDED
0,565708,00010f41,378871,2010,1,1,NaN,5~6,22,2,...,151,5,14,eff21098,372559,<1,0.0,3,3.0,2010-01-01
1,565709,00010f41,378881,2010,2,1,NaN,5~6,22,2,...,151,5,14,eff21098,372559,<1,0.0,3,3.0,2010-02-01
2,565710,00010f41,378829,2010,3,1,NaN,6~7,22,2,...,151,5,14,eff21098,306929,<1,0.0,4,4.0,2010-03-01
3,565711,00010f41,378874,2010,4,1,NaN,6~7,22,2,...,151,5,14,eff21098,306929,<1,0.0,7,7.0,2010-04-01
4,565712,00010f41,378899,2010,5,1,NaN,6~7,22,2,...,151,5,14,eff21098,372559,<1,0.0,7,7.0,2010-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861373,325812,fff5244f,797848,2020,3,1,NaN,2~3,12,2,...,151,2,25,8ddf23ea,445979,16~20,19.0,18,44.0,2020-03-01
861374,325813,fff5244f,797858,2020,4,1,NaN,2~3,12,2,...,151,2,25,8ddf23ea,445979,16~20,19.0,18,44.0,2020-04-01
861375,325814,fff5244f,797841,2020,5,1,NaN,2~3,12,2,...,151,2,25,8ddf23ea,445979,16~20,19.0,19,45.0,2020-05-01
861376,325815,fff5244f,797823,2020,6,1,NaN,2~3,12,2,...,151,2,25,8ddf23ea,445979,16~20,19.0,20,46.0,2020-06-01
861377,325816,fff5244f,797849,2020,7,0,個人因素-興趣不合,2~3,12,2,...,151,2,25,8ddf23ea,445979,16~20,20.0,19,46.0,2020-07-01

In [17]:
leave_df_drop3 = leave_df.drop(leave_df.groupby("EMPLOYEE_ID").tail(3).index, axis = 0)
leave_df_drop3

,index,EMPLOYEE_ID,ROW_NUM,DATAYEAR_LAST,DATAMONTH_LAST,IS_ALIVE_LAST,REASON_DESCR,LIFETIME_MONTH_LAST,EXPERIENCE_MONTH,GENDER,...,JOB_TITLE,JOB_FAMILY_NEW,JOB_FUNCTION_NEW,SUPERVISOR,SUPERVISOR_DEPT_ID,SUPERVISOR_LIFETIME_MONTH,ACCNUM_RESIGNATION_OF_SUPERVISOR,NUM_ISALIVE_OF_SUPERVISOR,ACCNUM_ISALIVE_OF_SUPERVISOR,TIME_RECORDED
0,565708,00010f41,378871,2010,1,1,NaN,5~6,22,2,...,151,5,14,eff21098,372559,<1,0.0,3,3.0,2010-01-01
1,565709,00010f41,378881,2010,2,1,NaN,5~6,22,2,...,151,5,14,eff21098,372559,<1,0.0,3,3.0,2010-02-01
2,565710,00010f41,378829,2010,3,1,NaN,6~7,22,2,...,151,5,14,eff21098,306929,<1,0.0,4,4.0,2010-03-01
3,565711,00010f41,378874,2010,4,1,NaN,6~7,22,2,...,151,5,14,eff21098,306929,<1,0.0,7,7.0,2010-04-01
4,565712,00010f41,378899,2010,5,1,NaN,6~7,22,2,...,151,5,14,eff21098,372559,<1,0.0,7,7.0,2010-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861370,325809,fff5244f,797839,2019,12,1,NaN,2~3,12,2,...,151,2,25,8ddf23ea,445979,16~20,18.0,19,44.0,2019-12-01
861371,325810,fff5244f,797857,2020,1,1,NaN,2~3,12,2,...,151,2,25,8ddf23ea,445979,16~20,18.0,19,44.0,2020-01-01
861372,325811,fff5244f,797840,2020,2,1,NaN,2~3,12,2,...,151,2,25,8ddf23ea,445979,16~20,18.0,19,44.0,2020-02-01
861373,325812,fff5244f,797848,2020,3,1,NaN,2~3,12,2,...,151,2,25,8ddf23ea,445979,16~20,19.0,18,44.0,2020-03-01
861374,325813,fff5244f,797858,2020,4,1,NaN,2~3,12,2,...,151,2,25,8ddf23ea,445979,16~20,19.0,18,44.0,2020-04-01

In [18]:
stay_df = data_over12[data_over12["EMPLOYEE_ID"].isin(stay_list)]
stay_df

,index,EMPLOYEE_ID,ROW_NUM,DATAYEAR_LAST,DATAMONTH_LAST,IS_ALIVE_LAST,REASON_DESCR,LIFETIME_MONTH_LAST,EXPERIENCE_MONTH,GENDER,...,JOB_TITLE,JOB_FAMILY_NEW,JOB_FUNCTION_NEW,SUPERVISOR,SUPERVISOR_DEPT_ID,SUPERVISOR_LIFETIME_MONTH,ACCNUM_RESIGNATION_OF_SUPERVISOR,NUM_ISALIVE_OF_SUPERVISOR,ACCNUM_ISALIVE_OF_SUPERVISOR,TIME_RECORDED
137,270170,0010f45d,856309,2016,3,1,NaN,NaN,66,2,...,148,8,23,7ac43dbf,557879,7~8,0.0,3,3.0,2016-03-01
138,270171,0010f45d,856364,2016,4,1,NaN,<1,66,2,...,148,8,23,7ac43dbf,557879,7~8,0.0,3,3.0,2016-04-01
139,270172,0010f45d,856330,2016,5,1,NaN,<1,66,2,...,148,8,23,7ac43dbf,557879,7~8,1.0,4,4.0,2016-05-01
140,270173,0010f45d,856310,2016,6,1,NaN,<1,66,2,...,148,8,23,7ac43dbf,557879,7~8,1.0,3,4.0,2016-06-01
141,270174,0010f45d,856346,2016,7,1,NaN,<1,66,2,...,148,8,23,7ac43dbf,557879,7~8,1.0,3,4.0,2016-07-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861648,572494,fffdfd1d,367723,2021,7,1,NaN,16~20,12,2,...,120,5,32,b6bf781d,701050,>20,15.0,5,9.0,2021-07-01
861649,572495,fffdfd1d,367811,2021,8,1,NaN,16~20,12,2,...,120,5,32,b6bf781d,701050,>20,15.0,5,9.0,2021-08-01
861650,572496,fffdfd1d,367884,2021,9,1,NaN,16~20,12,2,...,120,5,32,b6bf781d,701050,>20,15.0,5,9.0,2021-09-01
861651,572497,fffdfd1d,367807,2021,10,1,NaN,16~20,12,2,...,120,5,32,b6bf781d,701050,>20,15.0,3,9.0,2021-10-01
861652,572498,fffdfd1d,367812,2021,11,1,NaN,16~20,12,2,...,120,5,32,b6bf781d,701050,>20,15.0,3,9.0,2021-11-01

In [19]:
stay_df_drop3 = stay_df.drop(stay_df.groupby("EMPLOYEE_ID").tail(3).index, axis = 0)
stay_df_drop3

,index,EMPLOYEE_ID,ROW_NUM,DATAYEAR_LAST,DATAMONTH_LAST,IS_ALIVE_LAST,REASON_DESCR,LIFETIME_MONTH_LAST,EXPERIENCE_MONTH,GENDER,...,JOB_TITLE,JOB_FAMILY_NEW,JOB_FUNCTION_NEW,SUPERVISOR,SUPERVISOR_DEPT_ID,SUPERVISOR_LIFETIME_MONTH,ACCNUM_RESIGNATION_OF_SUPERVISOR,NUM_ISALIVE_OF_SUPERVISOR,ACCNUM_ISALIVE_OF_SUPERVISOR,TIME_RECORDED
137,270170,0010f45d,856309,2016,3,1,NaN,NaN,66,2,...,148,8,23,7ac43dbf,557879,7~8,0.0,3,3.0,2016-03-01
138,270171,0010f45d,856364,2016,4,1,NaN,<1,66,2,...,148,8,23,7ac43dbf,557879,7~8,0.0,3,3.0,2016-04-01
139,270172,0010f45d,856330,2016,5,1,NaN,<1,66,2,...,148,8,23,7ac43dbf,557879,7~8,1.0,4,4.0,2016-05-01
140,270173,0010f45d,856310,2016,6,1,NaN,<1,66,2,...,148,8,23,7ac43dbf,557879,7~8,1.0,3,4.0,2016-06-01
141,270174,0010f45d,856346,2016,7,1,NaN,<1,66,2,...,148,8,23,7ac43dbf,557879,7~8,1.0,3,4.0,2016-07-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861645,572491,fffdfd1d,367725,2021,4,1,NaN,16~20,12,2,...,120,5,32,b6bf781d,701050,>20,15.0,5,9.0,2021-04-01
861646,572492,fffdfd1d,367810,2021,5,1,NaN,16~20,12,2,...,120,5,32,b6bf781d,701050,>20,15.0,5,9.0,2021-05-01
861647,572493,fffdfd1d,367885,2021,6,1,NaN,16~20,12,2,...,120,5,32,b6bf781d,701050,>20,15.0,5,9.0,2021-06-01
861648,572494,fffdfd1d,367723,2021,7,1,NaN,16~20,12,2,...,120,5,32,b6bf781d,701050,>20,15.0,5,9.0,2021-07-01
861649,572495,fffdfd1d,367811,2021,8,1,NaN,16~20,12,2,...,120,5,32,b6bf781d,701050,>20,15.0,5,9.0,2021-08-01

In [20]:
leave_df_drop3_head6 = leave_df_drop3.groupby("EMPLOYEE_ID").head(6)
stay_df_drop3_head6 = stay_df_drop3.groupby("EMPLOYEE_ID").head(6)

In [22]:
leave_df_drop3_mid = leave_df_drop3.groupby("EMPLOYEE_ID").apply(lambda x: x.iloc[6:-3]).reset_index(drop=True)
stay_df_drop3_mid = stay_df_drop3.groupby("EMPLOYEE_ID").apply(lambda x: x.iloc[6:-3]).reset_index(drop=True)

In [23]:
leave_df_drop3_tail3 = leave_df_drop3.groupby("EMPLOYEE_ID").tail(3)
stay_df_drop3_tail3 = stay_df_drop3.groupby("EMPLOYEE_ID").tail(3)

In [66]:
stay_df_head6 = stay_df.groupby("EMPLOYEE_ID").head(6)
stay_df_mid = stay_df.groupby("EMPLOYEE_ID").apply(lambda x: x.iloc[6:-3]).reset_index(drop=True)
stay_df_tail3 = stay_df.groupby("EMPLOYEE_ID").tail(3)

In [59]:
def Feature_Engineering_all(x):
    df = {}
    # 在職月數、年數、個人月資
    df["LIFETIME_MONTH"] = raw_data_month.loc[x.iloc[-1].EMPLOYEE_ID].lifetime
    df["LIFETIME_YEAR"] = (raw_data_month.loc[x.iloc[-1].EMPLOYEE_ID].lifetime) // 12
    df["PERSON_TOTAL_MONTH"] = raw_data_month.loc[x.iloc[-1].EMPLOYEE_ID].EXPERIENCE_MONTH
    
    # 年齡、離職部門離職率、換過幾個部門、離職主管、換過幾個主管
    df["AGE"] = x.iloc[-1].AGE_LAST
    # df[""] # 離職部門的離職率
    df["CHG_NUM_DEP"] = len(x.DEPARTMENT_ID_LAST.unique())
    df["GRADE"] = x.iloc[-1].GRADE_NEW
    df["SUPERVISOR"] = x.iloc[-1].SUPERVISOR_LAST
    df["CHG_NUM_SUP"] = len(x.SUPERVISOR_LAST.unique())

    # 升過幾次等 
    df["GRADE_NUM"] = math.ceil(x.GRADE_DISTINCT_6M.sum() /6)

    # 離職時部門新人比例、部門周轉率
    df["RATIO_JUNIOR_LESS3"] = x.iloc[-1].RATIO_JUNIOR_LESS3
    df["RATIO_JUNIOR_LESS6"] = x.iloc[-1].RATIO_JUNIOR_LESS6
    df["RATIO_JUNIOR_LESS12"] = x.iloc[-1].RATIO_JUNIOR_LESS12
    df["RATIO_JUNIOR_LESS36"] = x.iloc[-1].RATIO_JUNIOR_LESS36
    df["DEPT_TURNOVER_RATIO"] = x.iloc[-1].DEPT_TURNOVER_RATIO

    # 員工之主管的分數
    if (len(x.tail(6)['SUPERVISOR_LAST'].unique())==1):
        df['SUPERVISOR_COR_SCORE'] = x.tail(6)['SUPERVISOR_COR_SCORE'].mean()## 有缺漏
        df['SUPERVISOR_PM2_SCORE'] = x.tail(6)['SUPERVISOR_PM2_SCORE'].mean()## 有缺漏
    else:
        df['SUPERVISOR_COR_SCORE'] = x[x['SUPERVISOR_LAST'] == x.tail(1)['SUPERVISOR_LAST'].unique().item()]['SUPERVISOR_COR_SCORE'].mean()## 有缺漏
        df['SUPERVISOR_PM2_SCORE'] = x[x['SUPERVISOR_LAST'] == x.tail(1)['SUPERVISOR_LAST'].unique().item()]['SUPERVISOR_PM2_SCORE'].mean()## 有缺漏
    
    # 在職期間的請假時數、加班時數、平日、假日、主管加班時數、平日、假日、部門加班時數(有問題，他換過部門?)、專案使用率、非專案使用率、會議時間、專案數、遲到次數(平均)
    df["ABS"] = x["TOTAL_ABS"].mean()
    df["OT"] = x["TOTAL_OT"].mean()
    df["REGULAR_OT"] = x["REGULAR_TOTAL_OT"].mean()
    df["HOLIDAY_OT"] = x["HOLIDAY_TOTAL_OT"].mean()

    df["SUPERVISOR_OT"] = x["SUPERVISOR_TOTAL_OT"].mean()
    df["SUPERVISOR_REGULAR_OT"] = x["SUPERVISOR_REGULAR_TOTAL_OT"].mean()
    df["SUPERVISOR_HOLIDAY_OT"] = x["SUPERVISOR_HOLIDAY_TOTAL_OT"].mean()

    df["DEP_OT"] = x["DEP_TOTAL_OT"].mean()

    df["PROJ_UTILIZATION"] = x["EMP_PROJ_UTILISATION"].mean()
    df["NONPROJ_UTILIZATION"] = x["RATIO_NONPROJ_HOURS_EMP"].mean()
    df["MEETING_HOURS"] = x["MEETING_HOURS_EMP"].mean()
    df["PROJ_NUM"] = x["NUM_PROJ_EMP"].mean()
    df["CLOCK_LATE_NUM"] = x["NUM_COUNT_CLOCK_LATE"].fillna(0).mean()

    # 3個月平均個人加班時數 > 3個月部門加班時數的平均次數
    df["IND_TOTAL_OT_3M"] = x["IND_TOTAL_OT_3M"].mean()
    df["IND_TOTAL_OT_6M"] = x["IND_TOTAL_OT_6M"].mean()
    
    # 核心職能、人員管理分數低
    df["COR_SCORE_LOW"] = x["COR_SCORE_LOW"].fillna(0).mean()
    df["PM2_SCORE_LOW"] = x["PM2_SCORE_LOW"].fillna(0).mean()
    
    # 在職期間升A、B等的次數
    df["PROMOTION_A_NUM"] = math.ceil(x["PROMOTION_TO_A_IN_2Y"].sum() / 12)
    df["PROMOTION_B_NUM"] = math.ceil(x["PROMOTION_TO_B_IN_5Y"].sum() / 60)

    return pd.Series(df)

In [60]:
def Feature_Engineering_head(x):
    df = {}
    # 在職期間的請假時數、加班時數、平日、假日、主管加班時數、平日、假日、部門加班時數(有問題，他換過部門?)、專案使用率、非專案使用率、會議時間、專案數、遲到次數(平均)
    df["ABS_head"] = x["TOTAL_ABS"].mean()
    df["OT_head"] = x["TOTAL_OT"].mean()
    df["REGULAR_OT_head"] = x["REGULAR_TOTAL_OT"].mean()
    df["HOLIDAY_OT_head"] = x["HOLIDAY_TOTAL_OT"].mean()

    df["SUPERVISOR_OT_head"] = x["SUPERVISOR_TOTAL_OT"].mean()
    df["SUPERVISOR_REGULAR_OT_head"] = x["SUPERVISOR_REGULAR_TOTAL_OT"].mean()
    df["SUPERVISOR_HOLIDAY_OT_head"] = x["SUPERVISOR_HOLIDAY_TOTAL_OT"].mean()

    df["DEP_OT_head"] = x["DEP_TOTAL_OT"].mean()

    df["PROJ_UTILIZATION_head"] = x["EMP_PROJ_UTILISATION"].mean()
    df["NONPROJ_UTILIZATION_head"] = x["RATIO_NONPROJ_HOURS_EMP"].mean()
    df["MEETING_HOURS_head"] = x["MEETING_HOURS_EMP"].mean()
    df["PROJ_NUM_head"] = x["NUM_PROJ_EMP"].mean()
    df["CLOCK_LATE_NUM_head"] = x["NUM_COUNT_CLOCK_LATE"].fillna(0).mean()

    # 3個月平均個人加班時數 > 3個月部門加班時數的平均次數
    df["IND_TOTAL_OT_3M_head"] = x["IND_TOTAL_OT_3M"].mean()
    df["IND_TOTAL_OT_6M_head"] = x["IND_TOTAL_OT_6M"].mean()
    
    # 核心職能、人員管理分數低
    df["COR_SCORE_LOW_head"] = x["COR_SCORE_LOW"].fillna(0).mean()
    df["PM2_SCORE_LOW_head"] = x["PM2_SCORE_LOW"].fillna(0).mean()
    
    return pd.Series(df)

In [61]:
def Feature_Engineering_mid(x):
    df = {}
    # 在職期間的請假時數、加班時數、平日、假日、主管加班時數、平日、假日、部門加班時數(有問題，他換過部門?)、專案使用率、非專案使用率、會議時間、專案數、遲到次數(平均)
    df["ABS_mid"] = x["TOTAL_ABS"].mean()
    df["OT_mid"] = x["TOTAL_OT"].mean()
    df["REGULAR_OT_mid"] = x["REGULAR_TOTAL_OT"].mean()
    df["HOLIDAY_OT_mid"] = x["HOLIDAY_TOTAL_OT"].mean()

    df["SUPERVISOR_OT_mid"] = x["SUPERVISOR_TOTAL_OT"].mean()
    df["SUPERVISOR_REGULAR_OT_mid"] = x["SUPERVISOR_REGULAR_TOTAL_OT"].mean()
    df["SUPERVISOR_HOLIDAY_OT_mid"] = x["SUPERVISOR_HOLIDAY_TOTAL_OT"].mean()

    df["DEP_OT_mid"] = x["DEP_TOTAL_OT"].mean()

    df["PROJ_UTILIZATION_mid"] = x["EMP_PROJ_UTILISATION"].mean()
    df["NONPROJ_UTILIZATION_mid"] = x["RATIO_NONPROJ_HOURS_EMP"].mean()
    df["MEETING_HOURS_mid"] = x["MEETING_HOURS_EMP"].mean()
    df["PROJ_NUM_mid"] = x["NUM_PROJ_EMP"].mean()
    df["CLOCK_LATE_NUM_mid"] = x["NUM_COUNT_CLOCK_LATE"].fillna(0).mean()

    # 3個月平均個人加班時數 > 3個月部門加班時數的平均次數
    df["IND_TOTAL_OT_3M_mid"] = x["IND_TOTAL_OT_3M"].mean()
    df["IND_TOTAL_OT_6M_mid"] = x["IND_TOTAL_OT_6M"].mean()
    
    # 核心職能、人員管理分數低
    df["COR_SCORE_LOW_mid"] = x["COR_SCORE_LOW"].fillna(0).mean()
    df["PM2_SCORE_LOW_mid"] = x["PM2_SCORE_LOW"].fillna(0).mean()
    
    return pd.Series(df)

In [62]:
def Feature_Engineering_tail(x):
    df = {}
    # 在職期間的請假時數、加班時數、平日、假日、主管加班時數、平日、假日、部門加班時數(有問題，他換過部門?)、專案使用率、非專案使用率、會議時間、專案數、遲到次數(平均)
    df["ABS_tail"] = x["TOTAL_ABS"].mean()
    df["OT_tail"] = x["TOTAL_OT"].mean()
    df["REGULAR_OT_tail"] = x["REGULAR_TOTAL_OT"].mean()
    df["HOLIDAY_OT_tail"] = x["HOLIDAY_TOTAL_OT"].mean()

    df["SUPERVISOR_OT_tail"] = x["SUPERVISOR_TOTAL_OT"].mean()
    df["SUPERVISOR_REGULAR_OT_tail"] = x["SUPERVISOR_REGULAR_TOTAL_OT"].mean()
    df["SUPERVISOR_HOLIDAY_OT_tail"] = x["SUPERVISOR_HOLIDAY_TOTAL_OT"].mean()

    df["DEP_OT_tail"] = x["DEP_TOTAL_OT"].mean()

    df["PROJ_UTILIZATION_tail"] = x["EMP_PROJ_UTILISATION"].mean()
    df["NONPROJ_UTILIZATION_tail"] = x["RATIO_NONPROJ_HOURS_EMP"].mean()
    df["MEETING_HOURS_tail"] = x["MEETING_HOURS_EMP"].mean()
    df["PROJ_NUM_tail"] = x["NUM_PROJ_EMP"].mean()
    df["CLOCK_LATE_NUM_tail"] = x["NUM_COUNT_CLOCK_LATE"].fillna(0).mean()

    # 3個月平均個人加班時數 > 3個月部門加班時數的平均次數
    df["IND_TOTAL_OT_3M_tail"] = x["IND_TOTAL_OT_3M"].mean()
    df["IND_TOTAL_OT_6M_tail"] = x["IND_TOTAL_OT_6M"].mean()
    
    # 核心職能、人員管理分數低
    df["COR_SCORE_LOW_tail"] = x["COR_SCORE_LOW"].fillna(0).mean()
    df["PM2_SCORE_LOW_tail"] = x["PM2_SCORE_LOW"].fillna(0).mean()
    
    return pd.Series(df)

In [42]:
data_all = leave_df_drop3.groupby("EMPLOYEE_ID").apply(Feature_Engineering_all)

,LIFETIME_MONTH,LIFETIME_YEAR,PERSON_TOTAL_MONTH,AGE,CHG_NUM_DEP,GRADE,SUPERVISOR,CHG_NUM_SUP,GRADE_NUM,RATIO_JUNIOR_LESS3,...,NONPROJ_UTILIZATION,MEETING_HOURS,PROJ_NUM,CLOCK_LATE_NUM,IND_TOTAL_OT_3M,IND_TOTAL_OT_6M,COR_SCORE_LOW,PM2_SCORE_LOW,PROMOTION_A_NUM,PROMOTION_B_NUM
EMPLOYEE_ID,,,,,,,,,,,,,,,,,,,,,
00010f41,42,3,22,36~40,2,24,eff21098,1,0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.307692,0.358974,0.000000,0.000000,0,0
00049756,23,1,125,36~40,2,24,ad6e0fe5,1,0,0.166667,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0
000c1b6a,70,5,28,36~40,2,25,bc0ea17a,1,1,0.000000,...,0.000000,0.000000,0.000000,1.417910,0.268657,0.298507,0.000000,0.000000,0,1
0019873d,21,1,88,31~35,2,24,de7be017,2,0,0.000000,...,0.000000,0.000000,0.000000,9.944444,0.166667,0.333333,0.000000,0.000000,0,0
001e5e8a,39,3,26,31~35,3,26,72ca0537,1,2,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ffe306e4,31,2,12,36~40,2,24,47a4f0e0,4,0,0.000000,...,0.133841,33.739286,1.535714,18.750000,0.785714,0.642857,0.000000,0.000000,0,0
ffe4002f,33,2,43,26~30,3,23,a7de4246,1,1,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.466667,0.500000,0.000000,0.000000,1,0
ffee9e02,17,1,140,36~40,1,25,7ef69a9e,1,0,0.000000,...,0.059262,11.021429,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0
fff0e936,81,6,101,41~45,7,28,508e8df7,4,2,0.000000,...,0.000000,0.000000,0.000000,0.102564,0.000000,0.000000,0.307692,0.128205,0,1
fff5244f,36,3,12,26~30,1,24,8ddf23ea,1,1,0.000000,...,0.191582,3.760606,5.121212,0.454545,0.575758,0.696970,0.000000,0.000000,1,0

In [43]:
data_head = leave_df_drop3_head6.groupby("EMPLOYEE_ID").apply(Feature_Engineering_head)

In [44]:
data_mid = leave_df_drop3_mid.groupby("EMPLOYEE_ID").apply(Feature_Engineering_mid)

In [45]:
data_tail = leave_df_drop3_tail3.groupby("EMPLOYEE_ID").apply(Feature_Engineering_tail)

In [46]:
data = pd.merge(data_all, data_head, on = "EMPLOYEE_ID", how = "outer")
data = pd.merge(data, data_mid, on = "EMPLOYEE_ID", how = "outer")
data = pd.merge(data, data_tail, on = "EMPLOYEE_ID", how = "outer")

In [47]:
data

,LIFETIME_MONTH,LIFETIME_YEAR,PERSON_TOTAL_MONTH,AGE,CHG_NUM_DEP,GRADE,SUPERVISOR,CHG_NUM_SUP,GRADE_NUM,RATIO_JUNIOR_LESS3,...,DEP_OT_tail,PROJ_UTILIZATION_tail,NONPROJ_UTILIZATION_tail,MEETING_HOURS_tail,PROJ_NUM_tail,CLOCK_LATE_NUM_tail,IND_TOTAL_OT_3M_tail,IND_TOTAL_OT_6M_tail,COR_SCORE_LOW_tail,PM2_SCORE_LOW_tail
EMPLOYEE_ID,,,,,,,,,,,,,,,,,,,,,
00010f41,42,3,22,36~40,2,24,eff21098,1,0,0.000000,...,20.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
00049756,23,1,125,36~40,2,24,ad6e0fe5,1,0,0.166667,...,90.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
000c1b6a,70,5,28,36~40,2,25,bc0ea17a,1,1,0.000000,...,4.500000,0.000000,0.000000,0.000000,0.000000,12.666667,0.000000,0.000000,0.0,0.0
0019873d,21,1,88,31~35,2,24,de7be017,2,0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,11.000000,0.000000,0.000000,0.0,0.0
001e5e8a,39,3,26,31~35,3,26,72ca0537,1,2,0.000000,...,3.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ffe306e4,31,2,12,36~40,2,24,47a4f0e0,4,0,0.000000,...,12.833333,0.854496,0.213694,27.766667,1.000000,17.333333,1.000000,1.000000,0.0,0.0
ffe4002f,33,2,43,26~30,3,23,a7de4246,1,1,0.000000,...,41.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.666667,0.0,0.0
ffee9e02,17,1,140,36~40,1,25,7ef69a9e,1,0,0.000000,...,15.833333,0.993874,0.056307,22.100000,1.000000,0.000000,0.000000,0.000000,0.0,0.0
fff0e936,81,6,101,41~45,7,28,508e8df7,4,2,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
fff5244f,36,3,12,26~30,1,24,8ddf23ea,1,1,0.000000,...,372.666667,0.946420,0.206629,3.500000,5.333333,0.333333,1.000000,1.000000,0.0,0.0

In [48]:
data["AGE"] = data["AGE"].fillna("nan")

In [49]:
Counter(data["AGE"])

Counter({'36~40': 1360,
         '31~35': 2128,
         '21~25': 241,
         '26~30': 2209,
         '41~45': 688,
         '51~55': 170,
         '>60': 38,
         '46~50': 325,
         '56~60': 107,
         'nan': 1})

In [51]:
Counter(data["LIFETIME_YEAR"])

Counter({3: 1297,
         1: 2074,
         5: 516,
         2: 1505,
         4: 867,
         10: 91,
         9: 144,
         6: 339,
         8: 176,
         7: 197,
         11: 61})

In [52]:
data["AGE"] = data["AGE"].map({"21~25":1, "26~30": 2, "31~35": 3, "36~40": 4, "41~45": 5, "46~50": 6, "51~55": 7, "56~60": 8, ">60": 9, "nan": 2})

In [57]:
data.reset_index()

,EMPLOYEE_ID,LIFETIME_MONTH,LIFETIME_YEAR,PERSON_TOTAL_MONTH,AGE,CHG_NUM_DEP,GRADE,SUPERVISOR,CHG_NUM_SUP,GRADE_NUM,...,DEP_OT_tail,PROJ_UTILIZATION_tail,NONPROJ_UTILIZATION_tail,MEETING_HOURS_tail,PROJ_NUM_tail,CLOCK_LATE_NUM_tail,IND_TOTAL_OT_3M_tail,IND_TOTAL_OT_6M_tail,COR_SCORE_LOW_tail,PM2_SCORE_LOW_tail
0,00010f41,42,3,22,4,2,24,eff21098,1,0,...,20.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
1,00049756,23,1,125,4,2,24,ad6e0fe5,1,0,...,90.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
2,000c1b6a,70,5,28,4,2,25,bc0ea17a,1,1,...,4.500000,0.000000,0.000000,0.000000,0.000000,12.666667,0.000000,0.000000,0.0,0.0
3,0019873d,21,1,88,3,2,24,de7be017,2,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,11.000000,0.000000,0.000000,0.0,0.0
4,001e5e8a,39,3,26,3,3,26,72ca0537,1,2,...,3.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,ffe306e4,31,2,12,4,2,24,47a4f0e0,4,0,...,12.833333,0.854496,0.213694,27.766667,1.000000,17.333333,1.000000,1.000000,0.0,0.0
7263,ffe4002f,33,2,43,2,3,23,a7de4246,1,1,...,41.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.666667,0.0,0.0
7264,ffee9e02,17,1,140,4,1,25,7ef69a9e,1,0,...,15.833333,0.993874,0.056307,22.100000,1.000000,0.000000,0.000000,0.000000,0.0,0.0
7265,fff0e936,81,6,101,5,7,28,508e8df7,4,2,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
7266,fff5244f,36,3,12,2,1,24,8ddf23ea,1,1,...,372.666667,0.946420,0.206629,3.500000,5.333333,0.333333,1.000000,1.000000,0.0,0.0

In [56]:
data.reset_index().to_csv("train_csv")

In [54]:
data.to_csv("train.csv")

In [ ]:
Counter(hr_data.REASON_DESCR)

In [ ]:
len(hr_data.REASON_DESCR.unique())

In [58]:
stay_data_all = stay_df_drop3.groupby("EMPLOYEE_ID").apply(Feature_Engineering_all)
stay_data_head = stay_df_drop3_head6.groupby("EMPLOYEE_ID").apply(Feature_Engineering_head)
stay_data_mid = stay_df_drop3_mid.groupby("EMPLOYEE_ID").apply(Feature_Engineering_mid)
stay_data_tail = stay_df_drop3_tail3.groupby("EMPLOYEE_ID").apply(Feature_Engineering_tail)
stay_data = pd.merge(stay_data_all, stay_data_head, on = "EMPLOYEE_ID", how = "outer")
stay_data = pd.merge(stay_data, stay_data_mid, on = "EMPLOYEE_ID", how = "outer")
stay_data = pd.merge(stay_data, stay_data_tail, on = "EMPLOYEE_ID", how = "outer")
stay_data = stay_data.reset_index()

In [62]:
stay_data["AGE"] = stay_data["AGE"].fillna("nan")
stay_data["AGE"] = stay_data["AGE"].map({"21~25":1, "26~30": 2, "31~35": 3, "36~40": 4, "41~45": 5, "46~50": 6, "51~55": 7, "56~60": 8, ">60": 9, "nan": 2})

In [63]:
stay_data

,EMPLOYEE_ID,LIFETIME_MONTH,LIFETIME_YEAR,PERSON_TOTAL_MONTH,AGE,CHG_NUM_DEP,GRADE,SUPERVISOR,CHG_NUM_SUP,GRADE_NUM,...,DEP_OT_tail,PROJ_UTILIZATION_tail,NONPROJ_UTILIZATION_tail,MEETING_HOURS_tail,PROJ_NUM_tail,CLOCK_LATE_NUM_tail,IND_TOTAL_OT_3M_tail,IND_TOTAL_OT_6M_tail,COR_SCORE_LOW_tail,PM2_SCORE_LOW_tail
0,0010f45d,69,5,66,5.0,6,10,7ac43dbf,1,2,...,294.833333,0.000000,0.000000,0.000000,0.000000,8.333333,1.0,1.0,0.0,0.0
1,00131910,78,6,43,4.0,3,6,ce418c61,1,2,...,20.666667,0.685985,0.396023,32.300000,3.333333,0.333333,0.0,0.0,0.0,0.0
2,0025a711,143,11,12,4.0,11,11,4c3d29cd,7,3,...,557.833333,1.439310,0.018519,228.000000,4.333333,2.666667,1.0,1.0,0.0,1.0
3,002cbfe9,134,11,12,3.0,4,9,f879ed85,3,3,...,8.333333,0.783523,0.278788,7.666667,2.333333,20.333333,0.0,0.0,0.0,0.0
4,0034d61f,25,2,118,6.0,3,12,f75c226f,1,0,...,1.500000,0.000000,0.000000,0.000000,0.000000,1.333333,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6640,ffc56506,143,11,52,5.0,9,10,2b666b7d,4,3,...,19.166667,0.956155,0.043845,88.500000,2.333333,6.666667,0.0,0.0,0.0,0.0
6641,ffd906fc,48,4,371,9.0,1,17,0bc1d2ce,1,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,1.0,0.0
6642,ffedac33,143,11,23,5.0,5,12,fcea61d2,1,2,...,87.166667,0.622727,0.501326,72.300000,1.666667,21.333333,0.0,0.0,0.0,1.0
6643,fffb048a,132,11,54,4.0,6,9,fe4980f9,7,3,...,0.000000,0.000000,0.000000,0.000000,0.000000,17.333333,0.0,0.0,0.0,0.0
6644,fffdfd1d,143,11,12,5.0,3,12,b6bf781d,1,1,...,757.000000,0.000000,1.491912,7.500000,0.000000,1.666667,0.0,0.0,0.0,0.0

In [64]:
stay_data.to_csv("stay.csv")

In [67]:
stay_nodrop_all = stay_df.groupby("EMPLOYEE_ID").apply(Feature_Engineering_all)
stay_nodrop_head = stay_df_head6.groupby("EMPLOYEE_ID").apply(Feature_Engineering_head)
stay_nodrop_mid = stay_df_mid.groupby("EMPLOYEE_ID").apply(Feature_Engineering_mid)
stay_nodrop_tail = stay_df_tail3.groupby("EMPLOYEE_ID").apply(Feature_Engineering_tail)
stay_nodrop = pd.merge(stay_nodrop_all, stay_nodrop_head, on = "EMPLOYEE_ID", how = "outer")
stay_nodrop = pd.merge(stay_nodrop, stay_nodrop_mid, on = "EMPLOYEE_ID", how = "outer")
stay_nodrop = pd.merge(stay_nodrop, stay_nodrop_tail, on = "EMPLOYEE_ID", how = "outer")
stay_nodrop = stay_nodrop.reset_index()

In [69]:
stay_nodrop["AGE"] = stay_nodrop["AGE"].fillna("nan")
stay_nodrop["AGE"] = stay_nodrop["AGE"].map({"21~25":1, "26~30": 2, "31~35": 3, "36~40": 4, "41~45": 5, "46~50": 6, "51~55": 7, "56~60": 8, ">60": 9, "nan": 2})

In [72]:
stay_nodrop

,EMPLOYEE_ID,LIFETIME_MONTH,LIFETIME_YEAR,PERSON_TOTAL_MONTH,AGE,CHG_NUM_DEP,GRADE,SUPERVISOR,CHG_NUM_SUP,GRADE_NUM,...,DEP_OT_tail,PROJ_UTILIZATION_tail,NONPROJ_UTILIZATION_tail,MEETING_HOURS_tail,PROJ_NUM_tail,CLOCK_LATE_NUM_tail,IND_TOTAL_OT_3M_tail,IND_TOTAL_OT_6M_tail,COR_SCORE_LOW_tail,PM2_SCORE_LOW_tail
0,0010f45d,69,5,66,5.0,6,10,7ac43dbf,1,2,...,277.833333,0.577642,0.118787,29.833333,0.666667,0.000000,1.0,1.0,0.0,0.0
1,00131910,78,6,43,4.0,3,6,ce418c61,1,2,...,2.166667,0.237608,0.833523,38.533333,2.000000,0.000000,0.0,0.0,0.0,0.0
2,0025a711,143,11,12,4.0,11,11,4c3d29cd,7,3,...,621.833333,1.304211,0.104376,132.933333,5.000000,0.000000,1.0,1.0,0.0,1.0
3,002cbfe9,134,11,12,3.0,4,9,f879ed85,3,3,...,11.166667,0.782080,0.226118,6.000000,2.333333,6.333333,0.0,0.0,0.0,0.0
4,0034d61f,25,2,118,6.0,3,12,f75c226f,1,0,...,9.166667,0.000000,0.000000,0.000000,0.000000,4.000000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6640,ffc56506,143,11,52,5.0,10,10,3c5e2f2c,5,3,...,16.333333,0.858586,0.141414,0.000000,1.333333,6.000000,0.0,0.0,0.0,0.0
6641,ffd906fc,48,4,371,9.0,1,17,0bc1d2ce,1,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,1.0,0.0
6642,ffedac33,143,11,23,5.0,5,12,fcea61d2,1,2,...,73.833333,0.521618,0.583757,71.033333,3.000000,6.333333,0.0,0.0,0.0,1.0
6643,fffb048a,132,11,54,4.0,6,9,fe4980f9,7,3,...,0.000000,0.000000,0.000000,0.000000,0.000000,5.333333,0.0,0.0,0.0,0.0
6644,fffdfd1d,143,11,12,5.0,3,12,b6bf781d,1,1,...,507.666667,0.000000,1.069496,25.133333,0.000000,0.000000,0.0,0.0,0.0,0.0

In [71]:
stay_nodrop.to_csv("stay_nodrop3.csv")

In [14]:
hr_data[(hr_data.DATAYEAR_LAST == 2019) & (hr_data.DATAMONTH_LAST == 1) ]

,index,EMPLOYEE_ID,ROW_NUM,DATAYEAR_LAST,DATAMONTH_LAST,IS_ALIVE_LAST,REASON_DESCR,LIFETIME_MONTH_LAST,EXPERIENCE_MONTH,GENDER,...,JOB_TITLE,JOB_FAMILY_NEW,JOB_FUNCTION_NEW,SUPERVISOR,SUPERVISOR_DEPT_ID,SUPERVISOR_LIFETIME_MONTH,ACCNUM_RESIGNATION_OF_SUPERVISOR,NUM_ISALIVE_OF_SUPERVISOR,ACCNUM_ISALIVE_OF_SUPERVISOR,TIME_RECORDED
171,270204,0010f45d,856371,2019,1,1,NaN,2~3,66,2,...,109,8,23,7ac43dbf,568536,10~15,3.0,5,9.0,2019-01-01
249,235210,00131910,893736,2019,1,1,NaN,3~4,43,2,...,151,5,21,ce418c61,986137,5~6,6.0,4,14.0,2019-01-01
487,640181,0025a711,260785,2019,1,1,NaN,10~15,12,2,...,105,5,14,dd3c8424,387939,16~20,13.0,3,39.0,2019-01-01
636,848801,002cbfe9,13496,2019,1,1,NaN,8~9,12,2,...,109,5,14,f879ed85,680873,10~15,0.0,9,9.0,2019-01-01
804,786375,003d7a03,76647,2019,1,1,NaN,8~9,98,2,...,155,2,25,6b8ecc6f,726427,10~15,2.0,6,8.0,2019-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861051,340544,ffe306e4,781466,2019,1,1,NaN,1~2,12,1,...,148,8,23,c7129f38,921079,16~20,2.0,5,8.0,2019-01-01
861209,535400,ffedac33,433516,2019,1,1,NaN,16~20,23,2,...,76,5,14,fcea61d2,940356,16~20,17.0,12,61.0,2019-01-01
861359,325798,fff5244f,797845,2019,1,1,NaN,1~2,12,2,...,153,2,25,8ddf23ea,445979,16~20,13.0,17,36.0,2019-01-01
861475,860873,fffb048a,1174,2019,1,1,NaN,8~9,54,1,...,148,6,11,ada0792c,328333,10~15,1.0,5,6.0,2019-01-01
861618,572464,fffdfd1d,367903,2019,1,1,NaN,10~15,12,2,...,76,5,32,b6bf781d,701050,>20,15.0,5,7.0,2019-01-01

In [10]:
in_201901 = hr_data[(hr_data.DATAYEAR_LAST == 2019) & (hr_data.DATAMONTH_LAST == 1) ].EMPLOYEE_ID.unique().tolist()
len(in_201901)

6566

In [28]:
hr_data[(~hr_data["EMPLOYEE_ID"].isin(in_201901))].EMPLOYEE_ID.unique()

array(['00010f41', '00049756', '0008fd2f', ..., 'ffe4002f', 'ffee9e02',
       'fff0e936'], dtype=object)

In [13]:
notin_201901 = hr_data[~hr_data["EMPLOYEE_ID"].isin(in_201901)].EMPLOYEE_ID.unique().tolist()
len(notin_201901)

13183

In [29]:
in_201809 = hr_data[(hr_data.DATAYEAR_LAST == 2018) & (hr_data.DATAMONTH_LAST == 9) & (hr_data.IS_ALIVE == 1)].EMPLOYEE_ID.unique().tolist()
in_201812 = hr_data[(hr_data.DATAYEAR_LAST == 2018) & (hr_data.DATAMONTH_LAST == 12) & (hr_data.IS_ALIVE == 1)].EMPLOYEE_ID.unique().tolist()

In [30]:
def intersection(lst1, lst2):
    lst3 = [value for value in lst1 if value in lst2]
    return lst3

In [32]:
# 201809在，201812還在
data3 = intersection(in_201809, in_201812)

In [33]:
stay_drop = pd.read_csv("stay.csv")

In [35]:
stay_drop[stay_drop["EMPLOYEE_ID"].isin(data3)].to_csv("1809alive1812alive.csv")

In [36]:
leave_drop = pd.read_csv("leave.csv")

In [38]:
leave_drop[leave_drop["EMPLOYEE_ID"].isin(notin_201901)].to_csv("notalivein19.csv")

In [55]:
leave_df_drop1 = leave_df.drop(leave_df.groupby("EMPLOYEE_ID").tail(1).index, axis = 0)
leave_df_drop1

,index,EMPLOYEE_ID,ROW_NUM,DATAYEAR_LAST,DATAMONTH_LAST,IS_ALIVE_LAST,REASON_DESCR,LIFETIME_MONTH_LAST,EXPERIENCE_MONTH,GENDER,...,JOB_TITLE,JOB_FAMILY_NEW,JOB_FUNCTION_NEW,SUPERVISOR,SUPERVISOR_DEPT_ID,SUPERVISOR_LIFETIME_MONTH,ACCNUM_RESIGNATION_OF_SUPERVISOR,NUM_ISALIVE_OF_SUPERVISOR,ACCNUM_ISALIVE_OF_SUPERVISOR,TIME_RECORDED
0,565708,00010f41,378871,2010,1,1,NaN,5~6,22,2,...,151,5,14,eff21098,372559,<1,0.0,3,3.0,2010-01-01
1,565709,00010f41,378881,2010,2,1,NaN,5~6,22,2,...,151,5,14,eff21098,372559,<1,0.0,3,3.0,2010-02-01
2,565710,00010f41,378829,2010,3,1,NaN,6~7,22,2,...,151,5,14,eff21098,306929,<1,0.0,4,4.0,2010-03-01
3,565711,00010f41,378874,2010,4,1,NaN,6~7,22,2,...,151,5,14,eff21098,306929,<1,0.0,7,7.0,2010-04-01
4,565712,00010f41,378899,2010,5,1,NaN,6~7,22,2,...,151,5,14,eff21098,372559,<1,0.0,7,7.0,2010-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861372,325811,fff5244f,797840,2020,2,1,NaN,2~3,12,2,...,151,2,25,8ddf23ea,445979,16~20,18.0,19,44.0,2020-02-01
861373,325812,fff5244f,797848,2020,3,1,NaN,2~3,12,2,...,151,2,25,8ddf23ea,445979,16~20,19.0,18,44.0,2020-03-01
861374,325813,fff5244f,797858,2020,4,1,NaN,2~3,12,2,...,151,2,25,8ddf23ea,445979,16~20,19.0,18,44.0,2020-04-01
861375,325814,fff5244f,797841,2020,5,1,NaN,2~3,12,2,...,151,2,25,8ddf23ea,445979,16~20,19.0,19,45.0,2020-05-01
861376,325815,fff5244f,797823,2020,6,1,NaN,2~3,12,2,...,151,2,25,8ddf23ea,445979,16~20,19.0,20,46.0,2020-06-01

In [56]:
leave_df_drop1_head6 = leave_df_drop1.groupby("EMPLOYEE_ID").head(6)
leave_df_drop1_mid = leave_df_drop1.groupby("EMPLOYEE_ID").apply(lambda x: x.iloc[6:-3]).reset_index(drop=True)
leave_df_drop1_tail3 = leave_df_drop1.groupby("EMPLOYEE_ID").tail(3)

In [63]:
leave_drop1_all = leave_df_drop1.groupby("EMPLOYEE_ID").apply(Feature_Engineering_all)
leave_drop1_head = leave_df_drop1_head6.groupby("EMPLOYEE_ID").apply(Feature_Engineering_head)
leave_drop1_mid = leave_df_drop1_mid.groupby("EMPLOYEE_ID").apply(Feature_Engineering_mid)
leave_drop1_tail = leave_df_drop1_tail3.groupby("EMPLOYEE_ID").apply(Feature_Engineering_tail)

In [64]:
leave_drop1 = pd.merge(leave_drop1_all, leave_drop1_head, on = "EMPLOYEE_ID", how = "outer")
leave_drop1 = pd.merge(leave_drop1, leave_drop1_mid, on = "EMPLOYEE_ID", how = "outer")
leave_drop1 = pd.merge(leave_drop1, leave_drop1_tail, on = "EMPLOYEE_ID", how = "outer")

In [66]:
leave_drop1["AGE"] = leave_drop1["AGE"].fillna("nan")
leave_drop1["AGE"] = leave_drop1["AGE"].map({"21~25":1, "26~30": 2, "31~35": 3, "36~40": 4, "41~45": 5, "46~50": 6, "51~55": 7, "56~60": 8, ">60": 9, "nan": 2})
leave_drop1.reset_index().to_csv("leave_drop1.csv")